/* MOBILE STYLES FIRST */
.slideshow {
    width: 100%;
    height: 1000px;
}
.slider img {
    width: 100%;
    height: 1000px;
}

.formall {
    position: absolute;
    top: 70px;
    opacity: 0.99;
    background: white;
    width: 90%;
    padding: 10px;
    margin: 10px;
    font-family: 'Raleway';
}

form {
    margin: 10px;
    width:90%;
}

input[type=text]{
    margin-bottom: 20px;
    margin-top: 10px;
    width:100%;
    padding: 15px;
    border:1px solid gray;
}

input[type=submit] {
    margin-bottom: 20px;
    width: 45%;
    padding: 15px;
    border:1px solid gray;
    background-color: darkslategray;
    color: yellow;
    font-size:15px;
    cursor:pointer;
}

textarea {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border:1px solid gray;
    margin-bottom: 20px;
    resize:none;
}

.eart {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}
.earthead {
    padding-left: 20px;
    font-family: 'Raleway';
    font-size: 1.25em;
    font-weight: 600;
    align-self: flex-start;
}

.eart1 {
    padding-left: 20px;
    font-family: 'Raleway';
    font-size: 0.9em;
}

.eart2 {
    padding: 20px;
    font-family: 'Raleway';
    font-size: 0.9em;
}

.eart3 {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-family: 'Raleway';
    font-size: 0.9em;
}

@media screen and (min-width:768px){
    
}

@media screen and (min-width:1024px){
    
}
