/* MOBILE-STYLES FIRST */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.findall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    max-width: 100%;
}

.findus {
    font-family: 'Raleway';
    font-size: 1.15em;
    display: flex;
    align-self: flex-start;
    padding-left: 5px;
}

.info1 {
    font-family: 'Raleway';
    font-size: 0.75em;
    margin: 5px;
}

.info2 {
    font-family: 'Raleway';
    font-size: 0.75em;
    margin: 5px;
}

.info3 {
    font-family: 'Raleway';
    font-size: 0.75em;
    margin: 5px;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

/* TABLET SCREENS */
@media screen and (min-width:768px){

}

/* LAPTOP SCREENS */
@media screen and (min-width:1024px){
    
}