/* MOBILE-STYLES FIRST */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.findall {
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.findus {
    font-family: 'Raleway';
    font-size: 1.15em;
    display: flex;
    align-self: flex-start;
    padding-left: 20px;
}

.info1 {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Raleway';
    font-size: 0.9em;
}

.info2 {
    padding: 20px;
    padding-bottom: 7.5px;
    font-family: 'Raleway';
    font-size: 0.9em;
}

.info3 {
    padding: 20px;
    font-family: 'Raleway';
    font-size: 0.9em;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
    max-width: 425px;
}

/* TABLET SCREENS */
@media screen and (min-width:768px){
    #map {
        margin: 20%;
        margin-top: 0px;
    }

}

/* LAPTOP SCREENS */
@media screen and (min-width:1024px){
    #map {
        margin: 30%;
        margin-top: 0px;
    }
}