/* MOBILE STYLES FIRST */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.logo {
    margin: 8px;
    max-width: 100%;
}

header  {
    background-color: white;
    width: 100%;
    z-index: 1000;
    height: 65px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.index1, .index2, .index3 {
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    font-family: 'Raleway';
    font-size: 0.9em;
    padding: 20px;
}

footer {
    display: flex;
    background: orange;
    height: 76px;
    width: 100%;
}
/* TABLET SCREENS */
@media screen and (min-width: 768px){
}

/* LAPTOP SCREENS */
@media screen and (min-width: 1024px){
}