/* MOBILE-STYLES FIRST */
body {
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    background:white;
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}  
   
.logo img {
    margin: 10px;
    max-width: 100%;
}

.telinfo {
    display: none;
}

nav {
    display: none;
}


/* */
@media screen and (min-width: 768px) {
    header {
        justify-content: flex-start;
    }

    .telinfo {
        background-color:white;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }
    
    #telheader {
        font-family: 'Raleway';
        color: black;
        font-size: 1em;
        padding: 5px;
    }
    
    #telno {
        font-family: 'Raleway';
        color: black;
        font-size: 1.5em;
        align-self: center;
    }
    
    #hamburger {
	width: 32px;
	height: 32px;
    } 
    
}
/* */
@media screen and (min-width: 1089px) {
    #hamburger { 
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .nav {
        padding: 5px;
        font-size: 1em;
        font-family: 'Raleway';
        background-color: white;
        align-self: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    
    .nav a {
        color:black;
        text-decoration: none;
    }
    
    .nav ul {
        list-style: none;
    }
    
    .nav li {
        display: inline-block;
        padding: 5px;
    }
}