/* MOBILE-STYLES FIRST */
body {
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    background:white;
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}  
   
.logo img {
    margin: 15px;
    max-width: 100%;
}

.menu {
    margin: 21px;
    padding: 2.5px;
}

#bar1, #bar2, #bar3{
    width: 35px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

.telinfo {
    display: none;
}

nav {
    display: none;
 }

/* */
@media screen and (min-width: 768px) {

    .telinfo {
        background-color:white;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }
    
    #telheader {
        font-family: 'Raleway';
        color: black;
        font-size: 1em;
        padding: 5px;
    }
    
    #telno {
        font-family: 'Raleway';
        color: black;
        font-size: 1.5em;
        align-self: center;
    }
    
}
/* */
@media screen and (min-width: 1090px) {

    .menu {
        display: none;
    }
 
    header {
        justify-content: space-between;
    }

    .nav {
        padding: 5px;
        font-size: 1em;
        font-family: 'Raleway';
        background-color: white;
        align-self: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    
    .nav a {
        color:black;
        text-decoration: none;
    }
    
    .nav ul {
        list-style: none;
    }
    
    .nav li {
        display: inline-block;
        padding: 5px;
    }
}