.wwdinfo {
    padding-top: 65px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}
.whatwedo {
    padding-left: 20px;
    font-family: 'Raleway';
    font-size: 1.25em;
    font-weight: 600;
    align-self: flex-start;
}

.wwd1 {
    padding-left: 20px;
    font-family: 'Raleway';
    font-size: 0.9em;
}

.wwd2 {
    padding: 20px;
    padding-bottom: 0px;
    font-family: 'Raleway';
    font-size: 0.9em;
}

.wwd3 {
    padding: 20px;
    padding-bottom: 0px;
    font-family: 'Raleway';
    font-size: 0.9em;
}

.wwd4 {
    padding: 20px;
    font-family: 'Raleway';
    font-size: 0.9em;
    text-decoration: none;
}

/* TABLET SCREENS */
@media screen and (min-width:768px){

}

/* LAPTOP SCREENS */
@media screen and (min-width:1024px){
    
}