.wwdinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.whatwedo {
    font-family: 'Raleway';
    font-size: 1.5em;
}

wwd1 {
    font-family: 'Raleway';
    font-size: 0.75em;
}

wwd2 {
    font-family: 'Raleway';
    font-size: 0.75em;
}

wwd3 {
    font-family: 'Raleway';
    font-size: 0.75em;
}

wwd4 {
    font-family: 'Raleway';
    font-size: 0.75em;
    text-decoration: none;
    color: blue;
}
